<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<!-- database관련 내용들을 적어주자. -->
	
	<!-- db.properties 읽어오기 => bean으로 관리할 것이다. -->
	<!-- classpath:라는 이름으로 경로가 잡혀있다. 그 안의 mybatis폴더 안의 db.properties라 작성해주면 된다.
	해당 파일을 읽어서, 어떤 클래스가 생성이 될 것이다. 그 properties안의 값들을 쓸 수있겟음 클래스를 이용해서 bean을 만들어 둔 것이다.
	 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mybatis/db.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- dataSorce -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>	
	</bean>
	
	<!-- mybatis -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="WEB-INF/spring/sqls/config.xml"></property>
	</bean>

	<!-- mybatis-template -->	
	<!-- sql문을 실행을 할 수 있는 template을 설정해준 것 이다. -->
	<!-- 아래의 bean은 BoardDaoImpl에서 sqlSession에 자동 주입 될 것이다. -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"></constructor-arg>
	</bean>
	
		
</beans>
