<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="lee" class="com.test03.Developer">
		<constructor-arg index="0" value="이창진"></constructor-arg>
		<constructor-arg index="1" value="2500000"></constructor-arg>
		<property name="dept" value="개발"></property>
	</bean>
	
	<bean id="kim" class="com.test03.Engineer">
		<constructor-arg name="name" value="김솔지"></constructor-arg>
		<constructor-arg name="salary" value="2500000"></constructor-arg>
		<property name="dept" value="개발"></property>
	</bean>
	
</beans>
